<%= form_with model: article do |form |%>
    <div>
        <% if @article.errors.any? %>
            <% @article.errors.full_messages.each do |message| %>
                <p><%= message %></p>
            <% end %>
        <% end %>
    </div>
    <div>
        <%= form.label :title%>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>

    <%= form.submit %>
<% end %>
